<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quotes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="style.css" rel="stylesheet">
</head>
<body>

<header>
    <h2>Quotes Page</h2>
    <p>Read all the quotes</p>
</header>

<new-row>
<col-1></col-1>
<col-1></col-1>

<col-4>
    <form action=/quotes method=post>
        <div>Your Name:<input type=text name=author></div>
        <div>Your Quote:<textarea name=text rows=5></textarea></div>
        <input type=submit value='Add my quote'> 
        <a href=/quotes><button-link>Skip to quotes!</button-link></a>
    </form>
</col-4>

<col-3>
<% if(typeof(errors) != 'undefined' ){ %>
<alert-danger>
    <strong>Please fix the following errors:</strong><br>
    - <%= errors.author.message %><br>
    - <%= errors.text.message %>
</alert-danger>
<% } %>
</col-3>

<col-3></col-3>
</new-row>

</body>
</html>